In [1]:
# dependencies
import pandas as pd
import psycopg2 as pg

/Users/genius/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
# Import Wildfire Data and Create Dataframe
engine = pg.connect("dbname='d3r8dfuncb78iv' user='jrufhfiejfajri' host='ec2-52-200-155-213.compute-1.amazonaws.com' port='5432' password='9a7254d2151b5e3c280fe275dbba039acdc9190fbc167f64c564c449ca77af88'")
noaa_df = pd.read_sql('select * from noaa_data', con=engine)

In [3]:
noaa_df.head()

,station,name,county,latitude,longitude,elevation,date,awnd,dapr,fmtm,...,sx36,wdmv,psun,tsun,mdsf,wt04,wt10,sn52,sx52,dasf
0,USR0000OECK,"ELK CREEK OREGON, OR US",BAKER,44.7578,-117.9711,2004.4,2008-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USR0000OECK,"ELK CREEK OREGON, OR US",BAKER,44.7578,-117.9711,2004.4,2008-01-02,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USR0000OECK,"ELK CREEK OREGON, OR US",BAKER,44.7578,-117.9711,2004.4,2008-01-03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USR0000OECK,"ELK CREEK OREGON, OR US",BAKER,44.7578,-117.9711,2004.4,2008-01-04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USR0000OECK,"ELK CREEK OREGON, OR US",BAKER,44.7578,-117.9711,2004.4,2008-01-05,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
noaa_df[noaa_df.columns[noaa_df.isna().any()]]
#df[df.columns[df.isna().any()]]

,latitude,longitude,elevation,awnd,dapr,fmtm,mdpr,pgtm,prcp,snow,...,sx36,wdmv,psun,tsun,mdsf,wt04,wt10,sn52,sx52,dasf
0,44.757800,-117.971100,2004.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44.757800,-117.971100,2004.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,44.757800,-117.971100,2004.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,44.757800,-117.971100,2004.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,44.757800,-117.971100,2004.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525929,45.213100,-123.200300,46.3,NaN,NaN,NaN,NaN,NaN,0.72,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525930,45.210620,-123.204040,41.8,NaN,NaN,NaN,NaN,NaN,0.72,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525931,45.356220,-123.190190,61.0,NaN,NaN,NaN,NaN,NaN,0.93,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525932,45.395206,-123.232909,107.0,NaN,NaN,NaN,NaN,NaN,0.87,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525933,45.400000,-123.183000,89.9,NaN,NaN,NaN,NaN,NaN,0.66,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN